[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pymysql = "*"
pylint = "*"
"autopep8" = "*"
markdown = "*"
pygments = "*"
py-gfm = "*"
orator = "*"
django-cors-headers = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.5"
